*{
    margin: 0;
}
body{
    min-height:300vh;
    position: relative;
}

.div{
    width:100%;
    border:1px solid blue;
    height: 100px;
}

#two{
    position: sticky;
    top:0;
}

main{
    background-color: brown;
    height: 700px;
}