*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    --var1:100px 0px;
    --bgcolor:red;
    --layout:column
}

body{
    background-color: var(--bgcolor,yellow);
    display: flex;
    flex-direction: var(--layout);
}

.child{
    margin: var(--var1);
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
    border: 5px solid orange;
}

#child-1 + #child-2 + #child-3 + #child-4{
    background-color: brown;
}